@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
  background-color: #fcfbfc;
	background: #FFFFFF;
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(253, 242, 245, 1) 100%);
}

.social-button {
	cursor: pointer;
  padding: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-button:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.bg-mesh {
  background-color: #FDFCFB;
  background-image: 
    radial-gradient(at 0% 0%, rgba(181, 145, 178, 0.01) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(181, 145, 178, 0.05) 0px, transparent 50%);
}

@keyframes breathe {
  0%,100% {
    transform: rotate(-0deg) translateY(0);
  }
  50% {
    transform: rotate(0.8deg) translateY(8px);
  }
}